<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <style type="text/css">
        *{
            padding:0;
            margin:0;
        }
        a:link,a:visited,a:hover,a:active{
            text-decoration: none;
            outline:none;
        }
    </style>
</head>
<body>
<h3 style="margin-top:50px;margin-left:44%;">欢迎来到www.yinlz.com</h3>
<span>
    <a th:if="${session.user == null}" href="http://login.codeshop.com:9000/login?target=http://www.codeshop.com:9010/">登录</a>
    <a th:unless="${session.user == null}" href="javascript:;">退出</a>
</span>
<br/>
<p th:unless="${session.user == null}">
    <span th:text="${session.user.username}"></span>,已登录
</p>
</body>
</html>