<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VIP</title>
    <style type="text/css">
        *{
            padding:0;
            margin:0;
        }
        a:link,a:visited,a:hover,a:active{
            text-decoration: none;
            outline:none;
        }
    </style>
</head>
<body>
<h3 style="margin-top:50px;margin-left:47%;">欢迎来到VIP</h3>
<a href="http://login.codeshop.com:9000/login?target=http://vip.codeshop.com:9011/">登录</a>
</body>
</html>